cppyy==3.5.0
matplotlib==3.10.7
mediapipe==0.10.14
numpy==2.3.3
opencv_contrib_python==4.12.0.88
opencv_python==4.11.0.86
opencv_python==4.12.0.88
pybind11==3.0.1
PyQt5==5.15.11
PyQt5_sip==12.17.0
pyqtgraph==0.13.7
pyrealsense2==2.56.5.9235
pyserial==3.5
PySide6==6.9.1
PySide6==6.10.0
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
python_qt5==0.1.10
scikit_learn==1.7.2
scipy==1.16.2
setuptools==80.9.0
